### IntelliJ ###
.idea/
*.iws
*.iml
*.ipr

### Gradle ###
.gradle/
build/

### Java ###
out/
bin/
target/
*.class

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Env / Secret ###
.env
.env.*
application-secret.yml
application-local.yml
src/main/resources/application-secret.yml
src/main/resources/application-local.yml